<div id="hero-section">
    <div id="hero-content">
        <div id="main-text" data-aos="fade-up" data-aos-duration="1500">
            <h1>Awards Winning Tech Institution</h1>
        </div>
        <div id="main-text-desc" data-aos="fade-up" data-aos-duration="1500">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. consectetur adipiscing elit</p>
        </div>
        <div id="hero-buttons">
            <a href="#" id="main-btn">Get Started</a>
            <a href="#" id="outline-btn">Learn More</a>
        </div>
    </div>
</div>