{% include 'header.html' %}
<div id="contact-text">
  <h1>Contact Us</h1>
</div>
<div id="contact">
  <div id="contact-image">
    <img src="/static/images/happy-businesswoman-talking-phone.jpg" alt="Contact Us">
  </div>
  <div id="contact-form">
    <form action="">
      <input type="text" placeholder="Full Name">
      <input type="email" placeholder="Email Address">
      <input type="text" placeholder="Subject">
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
      <a href="#" id="submit-btn">Submit</a>
    </form>
  </div>
</div>
{% include 'footer.html' %}