<footer>
  <div id="footer">
      <div id="links-section" data-aos="fade-up" data-aos-duration="1500">
          <div id="links-header">
              <h3>Quick Links</h3>
          </div>
          <div id="links">
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Tech Updates</a></li>
                  <li><a href="#">Donate</a></li>
              </ul>
          </div>
          <div id="company-logo" data-aos="fade-up" data-aos-duration="1500">
              <a href="#nav-bar"><img src="/static/images/smi logo.png" alt="SMIICT Logo"></a>
          </div>
      </div>
      <div id="subscription" data-aos="fade-up" data-aos-duration="1500">
          <div>
              <h1>Subscribe to our Newsletters</h1>
          </div>
          <div id="form-section">
              <form action="">
                  <input type="email" placeholder="Email Address">
                  <a href="#">Subscribe</a>
              </form>
          </div>
      </div>
  </div>
</footer>
<div id="main-footer">
  <p>SMIICT Institute &copy; {{year}} All Rights Reserved. Designed by <a href="/contact" style="color: ghostwhite; text-shadow: 0px 0px 5px ghostwhite; font-weight: bold; text-decoration: none">{{designer}}</a></p>
</div>