<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>

    <div id="nav-bar">
        <div id="main-nav">
            <div id="logo-container">
                <a href="/"><img src="static/images/smi logo.png" alt="smi-logo"></a>
            </div>
            <div id="main-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/tech-updates">Tech Updates</a></li>
                </ul>
            </div>
            <div id="cta-container">
                <a href="/courses">Our Courses</a>
            </div>
        </div>
    </div>

</body>
</html>